.navigation-links {
  text-align: right;
  text-decoration: none;
}
.navigation-links li {
  color: #eee;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  -webkit-transition: all 0.8s; /* Safari prior 6.1 */
  transition: all 0.8s;
  text-decoration: none;
}

.navigation-links li.active {
  text-decoration: underline;
}

.navigation-links li:hover {
  color: #eee;
  cursor: pointer;
  text-decoration: underline;
}
